* {
    padding: 0;
    margin: 0;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar {
    padding: 15px 0;
    background: rgba(0,0,0,0.8);
    backdrop-filter: blur(5px);
    position: fixed;
    width: 100%;
    z-index: 10;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar a {
    padding: 0 10px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    color: #FFFFFF;
}
.navbar button {
    background: none;
    color: #FFFFFF;
    width: 173px;
    height: 40px;
    left: 1123px;
    top: 30px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
}
.z {
    padding: 0 10px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    width: 135px;
    height: 30px;
}
.navbar img {
    margin-left: 40px;
}
#hero-gen {
    background: url("../img/fon.png") no-repeat center/cover ;
    min-height: 100vh;
}
.hero-gen h1 {
    padding-top: 280px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    color: #FFFFFF;
}
.hero-gen-button {
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.hero-gen-button button {
    width: 300px;
    height: 50px;
    background: #FF001E;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    border: none;

}
.button-second button {
    width: 200px;
    height: 50px;
    background: #FF001E;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    margin-left: 30px;
}
.hero-gen p {
    margin-top: 25px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 12px;
    color: #FFFFFF;
}
.icon {
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.icon  {
    color: #FF001E;
    font-size: 35px;
}
.fa-whatsapp {
    padding-right: 10px;
}
.fa-youtube{
    padding-right: 10px;
}
.fa-instagram {
    padding-right: 10px;
}
#hero {
    background: #222222;
    padding-top: 50px;
}
.squares {
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.square {
    margin-top: 50px;
    width: 210px;
    height: 140px;
    background: #FFFFFF;
    border-radius: 10px;
}
.square h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #FF001E;
    text-align: center;
    padding-top: 20px;
}
.square p {
     font-family: 'Montserrat', sans-serif;
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     color: #000000;
    text-align: center;
    padding-top: 20px;
 }
.check {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.check img {
    width: 300px;
    height: 350px;
}
.check-uniq h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.check-uniq p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.check-btn {
     display: flex;
    justify-content: space-around;
    align-items: center;
 }
.check-btn button {
    border: none;
    margin-top: 15px;
    margin-left: -34px;
}
.big-btn {
     background: #FF001E;
     border-radius: 10px;
     font-family: 'Montserrat', sans-serif;
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     color: #000000;
     width: 299px;
     height: 50px;
 }
 .btn {
     font-family: 'Montserrat', sans-serif;
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     width: 156px;
     height: 50px;
     background: #FF001E;
     border-radius: 10px;
     color: #000000;
 }

.choose {
    margin-top: 100px;
}
 .choose h1 {
     font-family: 'Montserrat', sans-serif;
     font-style: normal;
     font-weight: 700;
     font-size: 36px;
     color: #FFFFFF;
 }
.choose p {
     font-family: 'Montserrat', sans-serif;
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     color: #FFFFFF;
 }
.boxes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
.box {
    width: 300px;
    height: 500px;
    background: #FFFFFF;
    border-radius: 20px;
}
.box h1 {
    padding: 40px 50px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
    text-align: center;
}
.box img {
    margin-left: 35px;
}

.box h2 {
    padding: 20px 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    text-align: center;
}

.box p {
    padding-top: 70px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    text-align: center;
}
.box h3 {
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #FF001E;
    text-align: center;
}
.box button {
    margin: 40px 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    width: 250px;
    height: 40px;
    background: #222222;
    border-radius: 10px;
    border: none;
}


.box-second h2 span {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: red;
}
.box-second {
    width: 300px;
    height: 500px;
    background: #FFFFFF;
    border-radius: 20px;
}
.box-second h1 {
    padding: 40px 50px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
    text-align: center;
}
.box-second img {
    margin-left: 100px;
}

.box-second h2 {
    padding: 20px 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    text-align: center;
}

.box-second p {
    padding-top: 55px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    text-align: center;
}
.box-second h3 {
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #FF001E;
    text-align: center;
}
.box-second button {
    margin: 30px 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    width: 250px;
    height: 40px;
    background: #FF001E;
    border-radius: 10px;
    border: none;
}

.box-third {
    width: 300px;
    height: 500px;
    background: #FFFFFF;
    border-radius: 20px;
}
.box-third h1 {
    padding: 40px 50px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
    text-align: center;
}
.box-third img {
    margin-left: 35px;
    margin-top: -40px;
}
.box-third h2 {
    margin-top: -30px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    text-align: center;
}
.box-third p {
    padding-top: 70px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    text-align: center;
}
.box-third h3 {
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #FF001E;
    text-align: center;
}
.box-third button {
    margin: 40px 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    width: 250px;
    height: 40px;
    background: #222222;
    border-radius: 10px;
    border: none;
}

.after-apply h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    margin-top: 50px;
    color: #FFFFFF;
}
.desc-s {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.desc {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    width: 330px;
    height: 161px;
    background: #FFFFFF;
    border-radius: 10px;
}
.desc p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}
.hero-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0;
}
.btn-one {
    width: 250px;
    height: 40px;
    background: #FF001E;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    border: none;
    margin-left: 300px;
}
.btn-two {
     width: 200px;
     height: 40px;
     background: #FF001E;
     border-radius: 10px;
     font-family: 'Montserrat', sans-serif;
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     color: #000000;
     border: none;
     margin-right:300px;
 }
.apply h1{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    color: #FFFFFF;
    margin-bottom: 40px;

}
.apply-desc {
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.apply-desc p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}
.send {
    width: 642px;
    height: 400px;
     background: #9D0013;
    border-radius: 20px;
    margin-bottom: 50px;
}
.ins {
    margin: 5px 0 0 5px;
}
.ins div input {
    width: 280px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    margin: 15px 15px 0 15px;
}
.inp {
    width: 590px;
    height: 100px;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    margin: 20px 0 0 18px;
}
.ins button {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 440;
    font-size: 16px;
    color: #FFFFFF;
    width: 582px;
    height: 40px;
    background: #222222;
    border-radius: 10px;
    border: none;
    margin: 25px 0 0 24px;
}
.ins p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.003em;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin: 30px 0 0 25px;
}
.footer {
    display: flex;
    margin: 30px 0;
}
.footer-block h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #000000;
}
.footer-block button {
    margin-top: 30px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #F5F7F9;width: 294px;
    height: 59px;
    background: #FF001E;
    border-radius: 5px;
}
.navs {
    display: flex;
    align-items: center;
    justify-content:space-around;

}
.clicks {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}
.clicks a {
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}












