<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./css/all.min.css">
    <link rel="stylesheet" href="./css/second.style.css">
</head>
<body>
<header id="navbar">
    <div class="container">
        <div class="header">
            <div class="logo">
                <img src="./img/logo.svg" alt="">
                <nav class="navbar">
                    <a href="page.html">Разработка логотипа</a>
                    <a href="index.html">Разработка сайта</a>
                    <a href="">Услуги</a>
                    <a href="">Портфолио</a>
                    <a href="">База знаний</a>
                    <a href="">Акции</a>
                    <button>Заказать звонок</button>
                    <img src="./img/Group%207.svg" alt="">
                </nav>
            </div>

        </div>
    </div>
</header>
<section id="hero">
    <div class="container">
        <div class="hero">
          <h1>Разработка <br>сайтов</h1>
            <p>для   бизнеса   с   умным   дизайном</p>
            <button>Заказать разработку</button>
            <h2>Мы не передаем данные 3-им лицам. Отправляя заявку, вы <br>соглашаетесь с политикой обработки персональных данных</h2>
            <div class="icons">
                <i class="fa-brands fa-whatsapp"></i>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-instagram"></i>
            </div>
        </div>
    </div>
</section>
<section id="content">
    <div class="container">
        <div class="content">
            <h1>Ваш имидж в интернете</h1>

            <div class="internet">
                <div>
                    <p>
                        Разработка и продвижение сайтов как для юридических, так и
                        <br>для физических лиц с помощью студии Motion web правильный
                        <br>выбор команды с ответственным подходом к работе. Независимо
                        <br>от того, большой или маленький сайт, все объединяется в одну
                        <br>составляющую. Исключительное внимание к поставленным
                        <br> задачам и выполнению. Сайты имеют хороший дизайн, верстку и
                        <br>все условия для продвижения.
                    </p>
                    <p>
                        Нас часто спрашивают о времени. Лендинг пейдж будет готов за
                        <br>неделю. Типичный сайт компании займет от 4 до 8 недель, чтобы
                        <br>спроектировать и полностью запустить проект. Для логотипа или
                        <br>фирменного стиля потребуется меньше: от 7 до 2 недель.
                        <br>Очевидно одно, мы работаем в графике и обязательно
                        <br>постараемся сдать проект как можно быстрее
                    </p>
                </div>

                <div class="design">
                    <img src="./img/Group%2068.svg" alt="">
                    </div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>

        <h2 class="content-h">Что мы можем предложить?</h2>

            <div class="squares">
                <div class="all-paced">
                    <h1>Полный пакет</h1>
                    <p>Вам интересно получить услуги по созданию сайтов, продвижению
                        <br>и обслуживанию в одной фирме? Мы команда, способная решать
                        <br> поставленные задачи по разработке, продвижению и обслуживанию.
                        <br>Мы не оставляем своих клиентов после создания сайта, и предлагаем
                        <br>долгосрочное сотрудничество на основании эффективного комплексного
                        <br> обслуживания. Это, как раз, то, чего заслуживает Ваш бренд и потенциальный
                        <br>покупатель товаров или услуг.</p>
                    <div class="content-btn">
                        <button>Заказать разработку</button>
                        <div>
                            <p>Стоимость:</p>
                            <h1>от 95 000 р</h1>
                        </div>
                    </div>
                </div>

                <div class="mini-squares">
                    <div class="two-sq">
                        <div>
                            <img src="./img/clock.svg" alt="">
                            <h1>Время разработки</h1>
                            <p>от 1 месяца</p>
                        </div>

                        <div>
                            <img src="./img/clock.svg" alt="">
                            <h1>В пакет входит</h1>
                            <p>
                                SEO, РСЯ реклама, <br>наполнение товара
                            </p>
                        </div>
                    </div>
                    <div class="third-sq">
                        <img src="./img/clock.svg" alt="">
                        <h1>Время разработки</h1>
                        <p>от 1 месяца</p>
                    </div>
                </div>
            </div>

            <div class="squares">
                <div class="mini-squares">
                    <div class="two-sq">
                        <div>
                            <img src="./img/clock.svg" alt="">
                            <h1>Время разработки</h1>
                            <p>от 1 месяца</p>
                        </div>
                        <div>
                            <img src="./img/clock.svg" alt="">
                            <h1>В пакет входит</h1>
                            <p>SEO, РСЯ реклама, <br>наполнение товара</p>
                        </div>
                    </div>
                    <div class="third-sq">
                        <img src="./img/clock.svg" alt="">
                        <h1>Время разработки</h1>
                        <p>от 1 месяца</p>
                    </div>
                </div>
                <div class="all-paced">
                    <h1>Landing-page</h1>
                    <p>
                        Для решения задач по быстрому продвижению продукта или услуги мы
                        <br>предлагаем нашим клиентам создание сайтов с одностраничным
                        <br>исполнением. Лендинг пейдж идеально подходит для специальных
                        <br>предложений в рамках промо-акций. Создание сайтов такого типа
                        <br>позволяет эффективно собирать статистику и определять спрос.
                    </p>
                    <div class="content-btn">
                        <button>Заказать разработку</button>
                        <div>
                            <p>Стоимость:</p>
                            <h1>от 30 000 р</h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="squares">
                <div class="all-paced">
                    <h1>Интернет магазин</h1>
                    <p>
                        Вам интересно получить услуги по созданию сайтов, продвижению
                        <br> и обслуживанию в одной фирме? Мы команда, способная решать
                        <br> поставленные задачи по разработке, продвижению и обслуживанию.
                        <br> Мы не оставляем своих клиентов после создания сайта, и предлагаем
                        <br> долгосрочное сотрудничество на основании эффективного комплексного
                        <br> обслуживания. Это, как раз, то, чего заслуживает Ваш
                        <br>бренд и потенциальный покупатель товаров или услуг.
                    </p>
                    <div class="content-btn">
                        <button>Заказать разработку</button>
                        <div>
                            <p>Стоимость:</p>
                            <h1>от 55 000 р</h1>
                        </div>
                    </div>
                </div>

                <div class="mini-squares">
                    <div class="two-sq">
                        <div>
                            <img src="./img/clock.svg" alt="">
                            <h1>Время разработки</h1>
                            <p>от 1 месяца</p>
                        </div>
                        <div>
                            <img src="./img/clock.svg" alt="">
                            <h1>В пакет входит</h1>
                            <p>SEO, РСЯ реклама, <br>наполнение товара</p>
                        </div>
                    </div>
                    <div class="third-sq">
                        <img src="./img/clock.svg" alt="">
                        <h1>Время разработки</h1>
                        <p>от 1 месяца</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="hero-th">
                <div class="container">
                    <div class="hero-th">
                        <h1>Процесс разработки IT  продукта</h1>
                        <div class="table">
                            <div class="table-one">
                                <img src="./img/1.png" alt="">
                                <h1>Планирование</h1>
                                <p>Грамотное проектирование будущего
                                    проекта <br>играет ключевую роль для
                                    всего проекта. За этот <br>этап и за успех
                                    всего процесса разработки несет <br>ответственность проектный менеджер.В этот этап <br>входит:
                                </p>
                                <div class="instruct">
                                    <div class="circle"></div>
                                    <div>
                                        <p>анализ требований заказчика,</p>
                                    </div>
                                </div>
                                <div class="instruct">
                                    <div class="circle"></div>
                                    <div>
                                        <p>планирование этапов работ, <br> сроков, ресурсов и стоимости.</p>
                                    </div>
                                </div>
                                <img src="./img/Group%2051.png" alt="">
                            </div>
                            <div class="table-two">
                                <img src="./img/2.png" alt="">
                                <h1>Проектирование дизайна</h1>
                                <p>Это этап разработки индивидуального дизайна и стиля <br> будущего продукта,  выполняется UI/UX- дизайнерами.
                                </p>
                                <h2>В данный этап входит:</h2>
                                <div class="instruct">
                                    <div class="circle"></div>
                                    <div>
                                        <p>анализ требований заказчика  к дизайну,
                                        </p>
                                    </div>
                                </div>
                                <div class="instruct">
                                    <div class="circle"></div>
                                    <div>
                                        <p>разработка индивидуального дизайна.</p>
                                    </div>
                                </div>
                                <div class="t-t-i">
                                    <img src="./img/Group%2054.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="table-second">
                            <div class="table-h">
                                <img src="./img/3.png" alt="">
                                <h1>Разработка</h1>
                                <p>Это написание и поддержка качества кода. <br>Над продуктом работают:
                                    <br>Front-end, back-end, android и ios-разработчики.</p>
                                <div class="h-img">
                                    <img src="./img/Group%2058.png" alt="">
                                </div>
                            </div>
                            <div class="table-ff">
                                <img src="./img/4.png" alt="">
                                <h1>Тестирование</h1>
                                <p>Это этап проверки программы QA инженерами <br>на соответствие всем требованиям и <br>обеспечение полнофункциональной работы
                                    <br> разработанной программы, сюда входит:</p>
                                <div class="var">
                                    <div class="circle"></div>
                                    <p>проверка требований и составление <br>тестовой документации,</p>
                                </div>
                                <div class="var">
                                    <div class="circle"></div>
                                    <p>ручное, автоматизированное и <br>др. виды тестирование.</p>
                                </div>
                                <div class="ff-img">
                                    <div class="h-img"> <img src="./img/Group%2056.png" alt=""></div>
                                </div>
                            </div>
                        </div>
                        <div class="late">
                            <img src="./img/5.png" alt="">
                            <h1>Внедрение и сопровождение</h1>
                            <p>Процедура внедрения программного обеспечения в эксплуатащию является завершающей стадией разработки и продукт
                                <br>передается заказчику на право пользования.</p>
                            <p>После релиза продукта заказчику может предоставляться техническая поддержка проекта, в этот этап входит:</p>

                            <div class="late-c">
                                <div class="circle-l"></div>
                                <p>установка программного обеспечение,</p>
                            </div>
                            <div class="late-c">
                                <div class="circle-l"></div>
                                <p>первоначальная загрузка данных,</p>
                            </div>
                            <div class="late-c">
                                <div class="circle-l"></div>
                                <p>обучение пользователей,</p>
                            </div>
                            <div class="late-c">
                                <div class="circle-l"></div>
                                <p>поддержка пользователей.</p>
                            </div>
                        </div>
                        <button class="hero-th-btn">Заказать разработку</button>
                    </div>
                </div>
            </section>
<section id="blocked">
    <div class="container">
        <div class="blocked">
            <div class="sq">

                <div class="sqs">
                    <img src="./img/sqs1.png" alt="">
                    <p>Используем популярные <br>технологии</p>
                </div>

                <div class="sqs">
                    <img src="./img/sqs2.png" alt="">
                    <p>Адаптивный дизайн
                        <br>— по умолчанию</p>
                </div>

                <div class="sqs">
                    <img src="./img/sqs3.png" alt="">
                    <p>Настраиваем SEO для <br>сайта</p>
                </div>

                <div class="sqs">
                    <img src="./img/sqs4.png" alt="">
                    <p>Техническая поддержка <br>на 2 месяца бесплатно</p>
                </div>

            </div>
            <div class="fir">
                <h1>Наши работы</h1>
                <div class="cars">
                    <div class="car-i">
                        <img src="./img/car.png" alt="">
                        <img src="./img/car.png" alt="">
                        <img src="./img/car.png" alt="">
                    </div>
                    <div class="car-i">
                        <img src="./img/car.png" alt="">
                        <img src="./img/car.png" alt="">
                        <img src="./img/car.png" alt="">
                    </div>
                    <div class="car-i">
                        <img src="./img/car.png" alt="">
                        <img src="./img/car.png" alt="">
                        <img src="./img/car.png" alt="">
                    </div>
                </div>


            </div>
            <h1>Оставьте вашу заявку</h1>
            <div class="ss-block">
                <p>Мы с удовольствием ответим на все Ваши вопросы и проведем <br>необходимые уточнения. В случае, если Вы не найдете ответы на
                    <br>
                    Ваши вопросы на нашем
                    <br>сайте, просмотрите раздел FAQ или обратите непосредственно к нам.</p>

                <div class="com">

                    <div class="com-is">
                        <div class="is">
                            <input type="text" placeholder="    Ваше имя">
                            <input type="text" placeholder="    Телефон">
                        </div>
                        <div class="is">
                            <input type="text" placeholder="    Город">
                            <input type="email" placeholder="    E-mail">
                        </div>
                    </div>

                    <div class="com-i">
                        <input type="text" placeholder="    Ваш вопрос">
                    </div>
                    <button>Отправить</button>
                    <p>Нажимая на кнопку «Отправить», я даю согласие на обработку <br> персональных данных и соглашаюсь с политикой конфиденциальности</p>

                </div>


            </div>
        </div>
    </div>
</section>
<footer id="footer">
    <div class="container">
        <div class="footer">
            <div class="footer-block">
                <h1>У вас есть проект?
                </h1>
                <button>Заказать проект</button>
            </div>
            <div class="navs">
                <div class="clicks">
                    <a href="">Instagram</a>
                    <a href="">Telegram</a>
                    <a href="">WhatsApp</a>
                    <a href="">Lınkedın</a>
                    <a href="">Behance</a>
                </div>
                <div class="clicks">
                    <a href="">О нас</a>
                    <a href="">Наши услуги</a>
                    <a href="">Наши работы</a>
                    <a href="">Наша команда</a>
                    <a href="">Контакты</a>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="./js/all.min.js"></script>
<script src="./js/script.js"></script>
</body>
</html>